
//primera seccion

.main {
	height: auto;
	background-image: url("../img/motor-fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	@include respond-tablet() {
		width: 100%;
	}

	@include respond-above (4k) {
		object-fit: cover;
		height: 130%;
	}

	.container-fluid {
		@include respond-above(4k) {
			padding-bottom: 5vh;
		}
	}

	button {
		transition: ease 0.4s;
		outline: none;
		text-transform: uppercase;
		padding: 15px 25px; 
		color: white;
		background-color: #9DB800;
		border: none;
		font-weight: 500;
		margin-top: 30px;
		margin-bottom: 30px;

		@include respond-above (xl) {
			padding: 22px 32px;
			font-size: 20px;
		}

		@include respond-above(4k) {
			padding: 60px 90px;
			font-size: 40px;
			margin-top: 13vh;
		}

		&:hover {
			border: 2px solid #9DB800;
			background-color: transparent;
			color: #9DB800;
		}
	}

	.main__item {
		text-align: left;
		margin-top: 20vh;
		margin-bottom: none;

		@include respond-below(sm) {
			margin-top: unset;
		}


		
		h1 {
			padding-bottom: none;
			color: white;

			@include respond-below(sm) {
				text-align: center;
			}

			@include respond-above(xl) {
				font-size: 36px;

			}

			@include respond-above(4k) {
				font-size: 7vh;
			}
		}

		p {
			color: white;
			margin-top: none;

			@include respond-above(xl) {
				font-size: 20px;
			}

			@include respond-above(4k) {
				font-size: 3vh;
			}
		}

		.main__item-content {
			border: 4px solid #9DB800;			
			display: flex;
			justify-content: center;
		}
	
		.main__item--left {
			h1 {

				padding: 15px 15px;
			}
		}
	}
}

//sigunda seccion

.work {
	.work__container {
		padding-left: 40px;
		padding-top: none;

		h1 {
			text-transform: uppercase;
			padding-top: 7vh;
			font-size: 45px;
			margin-top: 20vh;
			font-family: georgia;

			@include respond-below (sm) {
				margin-top: 8px;
			}

			@include respond-tablet() {
				padding-top: unset;
			}
		
			@include respond-above(lg) {
				margin-top: 30px;	
			}

			@include respond-above(xl) {
				margin-top: 15vh
			}

			@include respond-above(4k) {
				font-size: 85px;
				margin-top: 10vh;	
			}
		}

		p {
			font-size: 26px;

			@include respond-tablet() {
			padding-bottom: 10vh;
			}

			@include respond-above(xl) {
				font-size: 16px;
				font-family: rotobo;
			}

			@include respond-above(4k) {
				font-size: 45px;
				margin-top: 10px;	
			}
		}

		img {	
			width: 90%;
			padding-top: 10vh;


			@include respond-tablet() {
				padding-top: 20vh;
			}

			@include respond-below (sm) {
				padding-top: 30px;
			}

			@include respond-above(4k) {
				padding-top: unset;
				margin-bottom: -20vh;
				margin-top: 7vh;
			}
		}
	}
}

//tercera seccion

.services {
	margin-top: 15vh;

	.services__container {
		text-align: center;
		img {

			@include respond-below(sm) {
				width: 13vh;
			}

			@include respond-above(4k) {
				width: 15vh;
			}
		}

		h1 {
			text-align: center;
			
			@include respond-below(sm) {
				font-size: 22px;
			}

			@include respond-tablet() {
				font-size: 24px;
			}

			@include respond-above(4k) {
				font-size: 65px;
			}
		}

		p {

			@include respond-below(sm) {
				font-size: 14px;
			}

			@include respond-above(xl) {
				font-size: 16px;
				color: gray;
				font-family: roboto;
			}

			@include respond-above(4k) {
				font-size: 40px;
			}
		}
		.services__image-main {
			img {
				width: 80%;
				margin: 0 auto;

				@include respond-below(sm) {
					width: 100%; 
				}
			}
		}
	}
}

//cuarta seccion

.information {
	height: 65vh;
	padding: 10vh 0;

	img {
		width: 100%;
		height: 60vh;
		filter: brightness(35%);
		object-fit: cover;
	}
		

	.information__container {
		position: relative;
		.information__report {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			h1 {
				text-align: center;
				color: white;
				font-family: georgia;

				@include respond-below(sm) {
					font-size: 26px;
				}

				@include respond-above(4k) {
					font-size: 100px;
				}
			}

			h2 {
				font-size: 34px;
				text-align: center;
				color: #9DB800;

				@include respond-below(sm) {
					font-size: 24px;
				}

				@include respond-above(4k) {
					font-size: 100px;
				}
			}

			p {
				text-align: center;
				font-size: 18px;
				color: white;

				@include respond-above(xl) {
					font-size: 24px;
				}

				@include respond-above(4k) {
					font-size: 50px;
					margin-top: 2vh;
				}
			}
		}
	} 
}

.contacts {
	background-color: black;
	text-align: center;
		
	.contacts__container {

	}

	h1 {
		color: #9DB800;
		margin-top: 30vh;
		font-family: georgia;

		@include respond-above(xl) {
			font-size: 50px;
			margin-top: 20vh;
		}

		@include respond-above(4k) {
			font-size: 6vh;
			margin-top: 30vh;
		}
		
	}

	.contacts__border {
		width: 50vh;
		margin-left: 27vh;
		margin-top: -4vh;
		border-bottom: 3px solid #9DB800;

		@include respond-below(sm) {
			margin: 0 auto;
		}

		@include respond-tablet() {
			margin: 0 auto;
			margin-top: -10px;
		}

		@include respond-above(lg) {
			margin: 0 auto;
			margin-top: -10px;
		}
	}

	address {
		color: white;
		margin-top: 2vh;
		font-size: 20px;

		@include respond-above(xl) {
			font-size: 25px;
		}

		@include respond-above(4k) {
			font-size: 3vh;
		}
	}

	a {
		font-size: 20px;
		color: white;
		margin-top: 5vh;

		@include respond_above(xl) {
			font-size: 25px;
		}

		@include respond-above(4k) {
			font-size: 3vh;
		}
	}

	span {
		color: #9DB800;
	}

	iframe {
		margin-top: 7vh;

		@include respond-below(sm) {
			width: 50vh;
			height: 50vh;
		}

		@include respond-tablet() {
			width: 67vh;
		}

		@include respond-above(lg) {
			width: 67vh;
		}

		@include respond-above(xl) {
			width: 90vh;
		}

		@include respond-above(4k) {
			height: 70vh;
			width: 80vh;
		}
	}

	label {
		font-weight: 400;
		color: #8D8D8D;
		margin-top: 20px;
		margin-left: 14px;	
		font-size: 16px;
	}

	input {
		margin-top: 40px;
		background-color: black;
		border: none;
		color: white;
		border-bottom: 4px solid #9DB800;
		
		@include respond-above(xl) {
			font-size: 24px;
		}

		@include respond-above(4k) {
			font-size: 3vh;

			margin-top: 15vh;
		}
	}

	textarea {
		border: none;
		margin-top: 50px;
		background-color: black;
		color: white;
		width: 100%;
		outline: none;
		border-bottom: 4px solid #9DB800; 
	
		@include respond-above(4k) {
			height: 30vh;
		}

	}

	::placeholder {
		font-size: 16px;
		letter-spacing: 1.8px; 
		color: white;
		list-style: none;

		@include respond-above(xl) {
			font-size: 24px;
		}

		@include respond-above(4k) {
			font-size: 3vh;
		}
	}

	button {
		transition: ease 0.4s;
		outline: none;
		text-transform: uppercase;
		padding: 15px 25px; 
		color: white;
		background-color: #9DB800;
		border: none;
		font-weight: 500;
		margin-top: 30px;
		margin-bottom: 10vh;
		
		@include respond-above(lg) {
			font-size: 16px;
		}

		@include respond-above(xl) {
			font-size: 24px;
			padding: 20px 30px;
		}

		@include respond-above(4k) {
			padding: 3vh 3vh;
			font-size: 3vh;
		}

		&:hover {
			border: 2px solid #9DB800;
			background-color: transparent;
			color: #9DB800;
		}
	}
}

footer {
	background-color: black;
	
	img {
		width: 50vh;
		margin: auto;
		display: block;
		border-bottom: 2px solid gray;
	}

	p {
		color: gray;
		text-align: center;
	}
}